<h1 mat-dialog-title> Updates #nameofthedashboard
	<button mat-icon-button [mat-dialog-close]>
    				<mat-icon aria-label="Example icon-button with a close icon" >close</mat-icon>
 	</button>
</h1>

<mat-dialog-content>
	20.06.2018     |    14:21<br />
	lorem ipsum dolor sit amet vinctum
	<hr>

	20.06.2018     |    14:21<br />

	lorem ipsum dolor sit amet vinctum
	<hr>
	
	20.06.2018     |    14:21<br />
	lorem ipsum dolor sit amet vinctum
</mat-dialog-content>



<!--<mat-dialog-actions>
      <button mat-button>Add</button>
      <button mat-button>Cancel</button>
</mat-dialog-actions>-->